<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets async="true">
        <target name="tracefile" xsi:type="File" fileName="${basedir}/Logs/trace.txt"
                archiveFileName="${basedir}/Logs/archive/trace.{#####}.txt" maxArchiveFiles="100"
                archiveEvery="Day"
                archiveNumbering="Sequence"
                layout="${longdate} - ${level} - ${logger}:  ${message}  ${exception:format=ToString}"
                header="------ Trace Logging started at ${longdate} ------"
                footer="------ Trace Logging finished at ${longdate} ------"
        />
        <target name="debugfile" xsi:type="File" fileName="${basedir}/Logs/debug.txt"
                archiveFileName="${basedir}/Logs/archive/debug.{#####}.txt" maxArchiveFiles="100"
                archiveEvery="Day"
                archiveNumbering="Sequence"
                layout="${longdate} - ${level} - ${logger}:  ${message}  ${exception:format=ToString}"
                header="------ Debug Logging started at ${longdate} ------"
                footer="------ Debug Logging finished at ${longdate} ------"
        />
        <target name="infofile" xsi:type="File" fileName="${basedir}/Logs/info.txt"
              archiveFileName="${basedir}/Logs/archive/info.{#####}.txt" maxArchiveFiles="100"
              archiveEvery="Day"
              archiveNumbering="Sequence"
              layout="${longdate} - ${level} - ${logger}:  ${message}  ${exception:format=ToString}"
              header="------ Info Logging started at ${longdate} ------"
              footer="------ Info Logging finished at ${longdate} ------"
        />
        <target name="errorfile" xsi:type="File" fileName="${basedir}/Logs/error.txt"
                archiveFileName="${basedir}/Logs/archive/error.{#####}.txt" maxArchiveFiles="100"
                archiveEvery="Day"
                archiveNumbering="Sequence"
                layout="${longdate} - ${level} - ${logger}:  ${message}  ${exception:format=ToString}"
                header="------ Error Logging started at ${longdate} ------"
                footer="------ Error Logging finished at ${longdate} ------"
        />
		<target name="logconsole" xsi:type="Console"
				layout="${longdate} - ${level} - ${logger}:  ${message}  ${exception:format=ToString}"
        />

    </targets>

    <rules>
        <logger name="*" level="Trace" writeTo="tracefile" />
        <logger name="*" level="Debug" writeTo="debugfile" />
        <logger name="*" level="Info" writeTo="infofile" />
        <logger name="*" minlevel="Warn" writeTo="errorfile" />
		<logger name="MainLogger" minlevel="Info" writeTo="logconsole" />
    </rules>
</nlog>
